<footer class="site-footer">

  <div class="wrapper">
    <div class="locationbox">
      <h2 class="footer-heading">LOCATIONS</h2>
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul>
          <li>STEAMBOAT SPRINGS OFFICE</li>
          <li>940 Central Park Drive</li>
          <li>Suite 208</li>
          <li>Steamboat Springs, CO</li>
          <li>80487</li>
          <li>970-879-7286</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul>
          <li>CRAIG OFFICE</li>
          <li>940 Central Park Drive</li>
          <li>Suite 280</li>
          <li>Steamboat Springs, CO</li>
          <li>80487</li>
          <li>970-879-7286</li>
        </ul>
      </div>
      <div class="footer-col  footer-col-3">
        <ul>
          <li>SUMMIT COUNTY - FRISCO OFFICE</li>
          <li>940 Central Park Drive</li>
          <li>Suite 280</li>
          <li>Steamboat Springs, CO</li>
          <li>80487</li>
          <li>970-879-7286</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
