<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
    
    <div class="name">
      <h2>JOHN BURKE</h2>
      <h2>Audiologist</h2>
      <h1>Northwest Hearing</h1>
      <p>30 years of helping adults and children to hear</p>
      <img src="images/">
    </div>
    <div class="contact">
      <h2>970-879-7286</h2>
      <h4>Steamboat Springs &amp; Craig Offices</h4>
      
      <h4>Serving Northwest &amp; Central Colorado</h4>
      
      <h2>970-668-4551</h2>
      <h4>Summit County - Frisco Office</h4>
    </div>

  </div>

</header>
