<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
    
    <div class="name">
      <li>JOHN BURKE</li>
      <li>Audiologist</li>
    </div>
    <div class="nwhear">
      <li>Northwest Hearing</li>
      <p>30 years of helping adults and children to hear</p>
      <img src="images/">
    </div>
    <div class="contact">
      <li>970-879-7286</li>
      <li>Steamboat Springs &amp; Craig Offices</li>
      
      <li>Serving Northwest &amp; Central Colorado</li>
      
      <li>970-668-4551</li>
      <li>Summit County - Frisco Office</li>
    </div>

  </div>

</header>
