body {
  background-color: #1f2a30;
}

nav {
  background-color: #434343;
  width: 100%;
}

nav ul li{
  list-style-type: none;
  display: inline;
  font-family: helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 18pt;
  padding: 1em;
}

nav ul a {
  text-decoration: none;
}

.header {
  background-color: #6b8596;
  width: 100%;
}

.header h2 {
  font-family: helvetica, Arial, sans-serif;
  font-size: 43pt;
  color: #f5f5f5;
  margin-bottom: -5%;
  padding-left: 2%;
  padding-top: 2%;
}

.header h1 {
  
}
